<!-- overflow-x-hidden in slider div because of CHROME -->
<div class="flex align-center h-[30rem] sm:h-[40rem] overflow-x-hidden border-t-[1px] border-solid border-white"
  #sliderRef>

  <ng-container *ngFor="let slider_news of list_carousel_itens">
    <div class="keen-slider__slide relative max-h-[30rem] sm:max-h-[40rem] flex justify-center">
      <div class="slider-description absolute z-[100] max-w-[60rem] mx-3 self-center">
        <div class="slider-header flex micro:items-center flex-col micro:flex-row gap-5 micro:gap-2 md:gap-3">
          <div class="slider-tags flex">
            <span class="bg-red-600 text-white font-bold text-sm px-2 py-1 flex-1 sm:flex-none">HOT NEWS 🔥</span>
            <span class="bg-sky-500 text-white font-bold text-sm px-2 py-1 flex-1 sm:flex-none">Games</span>
          </div>
          <div class="slider-info pl-2 flex justify-center gap-1 items-center">
            <span class="font-thin text-white font-['Open_Sans']">{{slider_news.date_post}}</span>
            <span class="text-white font-['Open_Sans']">-</span>
            <span>
              <a [routerLink]="[slider_news.id]" class="underline text-white font-['Open_Sans']">Thiago Ribeiro</a>
            </span>
          </div>
        </div>

        <!-- outside this slider: min-w-0 & break-words work as expected, need refatoration -->
        <div class="slider-texts flex flex-col gap-y-8">
          <a [routerLink]="[slider_news.id]" class="slider-title">
            <h1 class="word-break text-white font-bold my-3 text-base sm:text-5xl font-['Open_Sans'] sm:leading-[3rem]">
              {{slider_news.title_post}}</h1>
          </a>
          <p
            class="text-white text-sm sm:text-xl font-normal font-['Open_Sans'] sm:py-1 sm:leading-6 w-[85%] pl-2.5 border-l-[5px] border-sky-500 border-solid">
            {{slider_news.description_post}}
          </p>
        </div>
      </div>
      <!-- w-full h-full in a tag because of CHROME -->
      <a [routerLink]="[slider_news.id]" class="w-full h-full">
        <img class="brightness-50 w-full h-full object-cover" [src]="slider_news.url_post" alt="">
      </a>
    </div>
  </ng-container>

</div>
