<!-- overflow-x-hidden in slider div because of CHROME -->
<div class="flex align-center h-[30rem] sm:h-[40rem] overflow-x-hidden border-t-[1px] border-solid border-white" #sliderRef>
  <!-- <div class="keen-slider__slide">
    <a href="">
      <img class="brightness-50 w-full h-full object-cover" src="assets/images/fallen.jpg" alt="">
    </a>
  </div>
  <div class="keen-slider__slide">
    <a href="">
      <img class="brightness-50 w-full h-full object-cover" src="assets/images/teenage-shreeders.jpg" alt="">
    </a>
  </div> -->

  <div class="keen-slider__slide relative max-h-[30rem] sm:max-h-[40rem] flex justify-center">
    <div class="slider-description absolute z-[100] max-w-[60rem] mx-3 self-center">
      <div class="slider-header flex micro:items-center flex-col micro:flex-row gap-5 micro:gap-2 md:gap-3">
        <div class="slider-tags flex">
          <span class="bg-red-600 text-white font-bold text-sm px-2 py-1 flex-1 sm:flex-none">HOT NEWS 🔥</span>
          <span class="bg-sky-500 text-white font-bold text-sm px-2 py-1 flex-1 sm:flex-none">Games</span>
        </div>
        <div class="slider-info pl-2 flex justify-center gap-1 items-center">
          <span class="font-thin text-white font-['Open_Sans']">12/01/2023</span>
          <span class="text-white font-['Open_Sans']">-</span>
          <span>
            <a href="" class="underline text-white font-['Open_Sans']">Thiago Ribeiro</a>
          </span>
        </div>
      </div>

      <!-- outside this slider: min-w-0 & break-words work as expected, need refatoration -->
      <div class="slider-texts flex flex-col gap-y-8">
        <a href="" class="slider-title">
          <h1 class="word-break text-white font-bold my-3 text-base sm:text-5xl font-['Open_Sans'] sm:leading-[3rem]">CS:GO: Canal de FalleN no YouTube é hackeado</h1>
        </a>
        <p class="text-white text-sm sm:text-xl font-normal font-['Open_Sans'] sm:py-1 sm:leading-6 w-[85%] pl-2.5 border-l-[5px] border-sky-500 border-solid">
          A conta no YouTube de FalleN foi hackeada na tarde desta sexta-feira (20). O canal fallenINSIDER, que o Verdadeiro usa para publicar seus vídeos, sofreu com ataque e exibe uma live para aplicar golpes com criptomoedas.
        </p>
      </div>
    </div>
    <!-- w-full h-full in a tag because of CHROME -->
    <a href="" class="w-full h-full">
      <img class="brightness-50 w-full h-full object-cover" src="assets/images/fallen.jpg" alt="">
    </a>
  </div>

  <div class="keen-slider__slide relative max-h-[30rem] sm:max-h-[40rem] flex justify-center">
    <div class="slider-description absolute z-[100] max-w-[60rem] mx-3 self-center">
      <div class="slider-header flex micro:items-center flex-col micro:flex-row gap-5 micro:gap-2 md:gap-3">
        <div class="slider-tags flex">
          <span class="bg-red-600 text-white font-bold text-sm px-2 py-1 flex-1 sm:flex-none">HOT NEWS 🔥</span>
          <span class="bg-sky-500 text-white font-bold text-sm px-2 py-1 flex-1 sm:flex-none">Games</span>
        </div>
        <div class="slider-info pl-2 flex justify-center gap-1 items-center">
          <span class="font-thin text-white font-['Open_Sans']">12/01/2023</span>
          <span class="text-white font-['Open_Sans']">-</span>
          <span>
            <a href="" class="underline text-white font-['Open_Sans']">Thiago Ribeiro</a>
          </span>
        </div>
      </div>

      <!-- outside this slider: min-w-0 & break-words work as expected, need refatoration -->
      <div class="slider-texts flex flex-col gap-y-8">
        <a href="" class="slider-title">
          <h1 class="word-break text-white font-bold my-3 text-base sm:text-5xl font-['Open_Sans'] sm:leading-[3rem]">Netflix libera jogo mobile das Tartarugas Ninja de graça para assinantes</h1>
        </a>
        <p class="text-white text-sm sm:text-xl font-normal font-['Open_Sans'] sm:py-1 sm:leading-6 w-[85%] pl-2.5 border-l-[5px] border-sky-500 border-solid">
          Teenage Mutant Ninja Turtles: Shredder’s Revenge, game da Tartarugas Ninja lançado em 2022, agora pode ser jogado no celular ...
        </p>
      </div>
    </div>
    <!-- w-full h-full in a tag because of CHROME -->
    <a href="" class="w-full h-full">
      <img class="brightness-50 w-full h-full object-cover" src="assets/images/teenage-shreeders.jpg" alt="">
    </a>
  </div>

  <div class="keen-slider__slide relative max-h-[30rem] sm:max-h-[40rem] flex justify-center">
    <div class="slider-description absolute z-[100] max-w-[60rem] mx-3 self-center">
      <div class="slider-header flex micro:items-center flex-col micro:flex-row gap-5 micro:gap-2 md:gap-3">
        <div class="slider-tags flex">
          <span class="bg-red-600 text-white font-bold text-sm px-2 py-1 flex-1 sm:flex-none">HOT NEWS 🔥</span>
          <span class="bg-sky-500 text-white font-bold text-sm px-2 py-1 flex-1 sm:flex-none">Games</span>
        </div>
        <div class="slider-info pl-2 flex justify-center gap-1 items-center">
          <span class="font-thin text-white font-['Open_Sans']">12/01/2023</span>
          <span class="text-white font-['Open_Sans']">-</span>
          <span>
            <a href="" class="underline text-white font-['Open_Sans']">Thiago Ribeiro</a>
          </span>
        </div>
      </div>

      <!-- outside this slider: min-w-0 & break-words work as expected, need refatoration -->
      <div class="slider-texts flex flex-col gap-y-8">
        <a href="" class="slider-title">
          <h1 class="word-break text-white font-bold my-3 text-base sm:text-5xl font-['Open_Sans'] sm:leading-[3rem]">Life is Strange, Devil May Cry 5, Back 4 Blood e mais chegam à PS Plus em janeiro</h1>
        </a>
        <p class="text-white text-sm sm:text-xl font-normal font-['Open_Sans'] sm:py-1 sm:leading-6 w-[85%] pl-2.5 border-l-[5px] border-sky-500 border-solid">
          A Sony divulgou ontem (11) a lista de jogos que serão adicionados aos catálogos da PS Plus Extra e Deluxe ainda em janeiro.
        </p>
      </div>
    </div>
    <!-- w-full h-full in a tag because of CHROME -->
    <a href="" class="w-full h-full">
      <img class="brightness-50 w-full h-full object-cover" src="assets/images/before-the-storm.png" alt="">
    </a>
  </div>

</div>
