<footer class="bg-red flex flex-col items-center mt-20">

  <a [routerLink]="['']">
  <img class="max-w-[32rem] w-full" src="assets/images/logotipo-white.png" alt="logo" />
  </a>

  <div class="w-full flex items-center sm:justify-center py-4 mt-12 flex-col sm:flex-row text-white font-['Open_Sans'] text-center bg-[#1d1e26] text-base">
    <p>
      © 2013 - 2023
      <a href="/">Onigiri Hardcore</a>
      -
      <a href="https://kalifyinc.vercel.app/">Kalify Inc.</a>
      |  
    </p>
    <p>
      Todas as imagens de filmes, séries e etc são marcas registradas dos seus respectivos proprietários
    </p>
  </div>

</footer>
