<div class="bg-onigiri-blue py-12 flex justify-center">

  <!-- flex justify-center flex-wrap-->
  <div class="w-[82rem] bg-red-500 px-3 flex justify-around flex-wrap">

    <div class="category bg-onigiri-blue max-w-[22rem] py-3 px-2">
      <div class="category-header border-b-2 border-solid border-sky-500">
        <p class="bg-sky-500 inline-block py-0.5 px-2.5 text-white font-bold font-['Open_Sans']">Animes & HQs</p>
      </div>

      <a href="">
        <img class="object-cover h-[22rem] mt-2.5 transition ease-in-out duration-200 hover:scale-[1.01]"
          src="assets/images/fairytail-hbo.webp" alt="">
        <div class="category-main-description flex flex-col gap-y-4 my-5">
          <h1 class="text-sky-500 font-['Open_Sans'] font-bold text-3xl paragraph-tree-lines">Fairy Tail: dublagem chegou ontem ao HBO Max
            Brasil</h1>
          <span class="flex gap-1 text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p>10/01/2023</p>
          </span>
          <p class="text-gray-500 paragraph-tree-lines">Após ser revelado que houve uma redublagem em Fairy Tail, foi divulgado neste sábado
            (7) que a nova dublagem do anime chegará ...</p>
        </div>
      </a>
      <div class="category-posts">

        <div class="post-container pt-[10px]">
          <a class="flex" href="">
            <img class="w-[4.063rem] h-[4.063rem] object-cover" src="assets/images/the-vexations.jpg" alt="">
            <div class="post-description overflow-hidden flex flex-col ml-3 gap-y-[5px]">
              <!-- needed to ellipsis text on second line -->
              <h3
                class="text-ellipsis paragraph-two-lines leading-5 font-semibold text-[16px] font-['Open_Sans'] text-white shrink-0">
                The Vexations of a Shut-In Vampire Princess: light novel ganhará adaptação em anime</h3>
              <span class="flex gap-1 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p>06/01/2023</p>
              </span>
            </div>
          </a>
          <hr class="border-[1px] border-solid border-white my-[5px]">
        </div>
        <div class="post-container pt-[10px]">
          <a class="flex" href="">
            <img class="w-[4.063rem] h-[4.063rem] object-cover" src="assets/images/goblin-slayer.webp" alt="">
            <div class="post-description overflow-hidden flex flex-col ml-3 gap-y-[5px]">
              <!-- needed to ellipsis text on second line -->
              <h3
                class="text-ellipsis paragraph-two-lines leading-5 font-semibold text-[16px] font-['Open_Sans'] text-white shrink-0">
                Goblin Slayer: 2ª temporada ganha novo trailer de lançamento</h3>
              <span class="flex gap-1 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p>06/01/2023</p>
              </span>
            </div>
          </a>
          <hr class="border-[1px] border-solid border-white my-[5px]">
        </div>
        <div class="post-container pt-[10px]">
          <a class="flex" href="">
            <img class="w-[4.063rem] h-[4.063rem] object-cover" src="assets/images/naruto-hbomax.webp" alt="">
            <div class="post-description overflow-hidden flex flex-col ml-3 gap-y-[5px]">
              <!-- needed to ellipsis text on second line -->
              <h3
                class="text-ellipsis paragraph-two-lines leading-5 font-semibold text-[16px] font-['Open_Sans'] text-white shrink-0">
                Naruto: episódios finais do Clássico estreiam no HBO Max</h3>
              <span class="flex gap-1 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p>09/01/2023</p>
              </span>
            </div>
          </a>
          <hr class="border-[1px] border-solid border-white my-[5px]">
        </div>


      </div>

    </div>


    <div class="category bg-onigiri-blue max-w-[22rem] py-3 px-2">
      <div class="category-header border-b-2 border-solid border-sky-500">
        <p class="bg-sky-500 inline-block py-0.5 px-2.5 text-white font-bold font-['Open_Sans']">Video Games</p>
      </div>

      <a href="">
        <img class="object-cover h-[22rem] mt-2.5 transition ease-in-out duration-200 hover:scale-[1.01]"
          src="assets/images/fallen.jpg" alt="">
        <div class="category-main-description flex flex-col gap-y-4 my-5">
          <h1 class="text-sky-500 font-['Open_Sans'] font-bold text-3xl paragraph-tree-lines">CS:GO: Canal de FalleN no YouTube é hackeado</h1>
          <span class="flex gap-1 text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p>20/01/2023</p>
          </span>
          <p class="text-gray-500 paragraph-tree-lines">A conta no YouTube de FalleN foi hackeada na tarde desta sexta-feira (20). O canal fallenINSIDER, que o Verdadeiro usa para publicar seus vídeos, sofreu com ataque e exibe uma live para aplicar golpes com criptomoedas.</p>
        </div>
      </a>
      <div class="category-posts">

        <div class="post-container pt-[10px]">
          <a class="flex" href="">
            <img class="w-[4.063rem] h-[4.063rem] object-cover" src="assets/images/before-the-storm.png" alt="">
            <div class="post-description overflow-hidden flex flex-col ml-3 gap-y-[5px]">
              <!-- needed to ellipsis text on second line -->
              <h3
                class="text-ellipsis paragraph-two-lines leading-5 font-semibold text-[16px] font-['Open_Sans'] text-white shrink-0">
                Life is Strange, Devil May Cry 5, Back 4 Blood e mais chegam à PS Plus em janeiro</h3>
              <span class="flex gap-1 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p>06/01/2023</p>
              </span>
            </div>
          </a>
          <hr class="border-[1px] border-solid border-white my-[5px]">
        </div>
        <div class="post-container pt-[10px]">
          <a class="flex" href="">
            <img class="w-[4.063rem] h-[4.063rem] object-cover" src="assets/images/shingo-yabuki.webp" alt="">
            <div class="post-description overflow-hidden flex flex-col ml-3 gap-y-[5px]">
              <!-- needed to ellipsis text on second line -->
              <h3
                class="text-ellipsis paragraph-two-lines leading-5 font-semibold text-[16px] font-['Open_Sans'] text-white shrink-0">
                The King of Fighters XV: SNK revelou Shingo Yabuki como novo lutador do jogo</h3>
              <span class="flex gap-1 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p>06/01/2023</p>
              </span>
            </div>
          </a>
          <hr class="border-[1px] border-solid border-white my-[5px]">
        </div>
        <div class="post-container pt-[10px]">
          <a class="flex" href="">
            <img class="w-[4.063rem] h-[4.063rem] object-cover" src="assets/images/avatar-generations.jpg" alt="">
            <div class="post-description overflow-hidden flex flex-col ml-3 gap-y-[5px]">
              <!-- needed to ellipsis text on second line -->
              <h3
                class="text-ellipsis paragraph-two-lines leading-5 font-semibold text-[16px] font-['Open_Sans'] text-white shrink-0">
                Avatar Generations: jogo mobile inicia pré-registro global</h3>
              <span class="flex gap-1 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p>09/01/2023</p>
              </span>
            </div>
          </a>
          <hr class="border-[1px] border-solid border-white my-[5px]">
        </div>


      </div>

    </div>


    <div class="category bg-onigiri-blue max-w-[22rem] py-3 px-2">
      <div class="category-header border-b-2 border-solid border-sky-500">
        <p class="bg-sky-500 inline-block py-0.5 px-2.5 text-white font-bold font-['Open_Sans']">Filmes & Séries</p>
      </div>

      <a href="">
        <img class="object-cover h-[22rem] mt-2.5 transition ease-in-out duration-200 hover:scale-[1.01]"
          src="assets/images/teenage-shreeders.jpg" alt="">
        <div class="category-main-description flex flex-col gap-y-4 my-5">
          <h1 class="text-sky-500 font-['Open_Sans'] font-bold text-3xl paragraph-tree-lines">Netflix libera jogo mobile das Tartarugas Ninja de graça para assinantes</h1>
          <span class="flex gap-1 text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p>20/01/2023</p>
          </span>
          <p class="text-gray-500 paragraph-tree-lines">Teenage Mutant Ninja Turtles: Shredder’s Revenge, game da Tartarugas Ninja lançado em 2022, agora pode ser jogado no celular ...</p>
        </div>
      </a>
      <div class="category-posts">

        <div class="post-container pt-[10px]">
          <a class="flex" href="">
            <img class="w-[4.063rem] h-[4.063rem] object-cover" src="assets/images/Quantumania.webp" alt="">
            <div class="post-description overflow-hidden flex flex-col ml-3 gap-y-[5px]">
              <!-- needed to ellipsis text on second line -->
              <h3
                class="text-ellipsis paragraph-two-lines leading-5 font-semibold text-[16px] font-['Open_Sans'] text-white shrink-0">
                Homem-Formiga e a Vespa: Quantumania – Marvel Studios divulga novo trailer do longa</h3>
              <span class="flex gap-1 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p>06/01/2023</p>
              </span>
            </div>
          </a>
          <hr class="border-[1px] border-solid border-white my-[5px]">
        </div>
        <div class="post-container pt-[10px]">
          <a class="flex" href="">
            <img class="w-[4.063rem] h-[4.063rem] object-cover" src="assets/images/spidernoir.jpg" alt="">
            <div class="post-description overflow-hidden flex flex-col ml-3 gap-y-[5px]">
              <!-- needed to ellipsis text on second line -->
              <h3
                class="text-ellipsis paragraph-two-lines leading-5 font-semibold text-[16px] font-['Open_Sans'] text-white shrink-0">
                Homem-Aranha Noir não estará no novo Aranhaverso, diz Nicolas Cage</h3>
              <span class="flex gap-1 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p>06/01/2023</p>
              </span>
            </div>
          </a>
          <hr class="border-[1px] border-solid border-white my-[5px]">
        </div>
        <div class="post-container pt-[10px]">
          <a class="flex" href="">
            <img class="w-[4.063rem] h-[4.063rem] object-cover" src="assets/images/vindiesel.jpg" alt="">
            <div class="post-description overflow-hidden flex flex-col ml-3 gap-y-[5px]">
              <!-- needed to ellipsis text on second line -->
              <h3
                class="text-ellipsis paragraph-two-lines leading-5 font-semibold text-[16px] font-['Open_Sans'] text-white shrink-0">
                Vin Diesel aquece para trailer de Velozes e Furiosos 10 com nova foto de Dom Toretto</h3>
              <span class="flex gap-1 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p>09/01/2023</p>
              </span>
            </div>
          </a>
          <hr class="border-[1px] border-solid border-white my-[5px]">
        </div>


      </div>

    </div>


  </div>

</div>
