<div class="category max-w-[22rem] py-3 px-2">
  <div class="category-header border-b-2 border-solid border-sky-500">
    <p class="bg-sky-500 inline-block py-0.5 px-2.5 text-white font-bold font-['Open_Sans']">{{catgory?.title_category}}</p>
  </div>

  <a href="">
    <img class="object-cover h-[22rem] mt-2.5 transition ease-in-out duration-200 hover:scale-[1.01]"
      [src]=catgory?.url_post alt="">
    <div class="category-main-description flex flex-col gap-y-4 my-5">
      <h1 class="text-sky-500 font-['Open_Sans'] font-bold text-3xl paragraph-tree-lines">{{catgory?.title_post}}</h1>
      <span class="flex gap-1 text-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <p>{{catgory?.date_post}}</p>
      </span>
      <p class="text-gray-500 paragraph-tree-lines">{{catgory?.description_post}}</p>
    </div>
  </a>
  <div class="category-posts">

    <ng-container *ngFor="let post of catgory?.minor_posts">
      <div class="post-container pt-[10px]">
        <a class="flex" href="">
          <img class="w-[4.063rem] h-[4.063rem] object-cover" [src]="post.url_post" alt="">
          <div class="post-description overflow-hidden flex flex-col ml-3 gap-y-[5px]">
            <!-- needed to ellipsis text on second line -->
            <h3
              class="text-ellipsis paragraph-two-lines leading-5 font-semibold text-[16px] font-['Open_Sans'] text-white shrink-0">
              {{post.title_post}}</h3>
            <span class="flex gap-1 text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <p>{{post.date_post}}</p>
            </span>
          </div>
        </a>
        <hr class="border-[1px] border-solid border-white my-[5px]">
      </div>
    </ng-container>

  </div>

</div>
