/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  box-sizing: border-box;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

/* (A) FIXED WRAPPER */
.hwrap {
  align-items: center;
  overflow: hidden; /* HIDE SCROLL BAR */
  background: #282a36;
  min-height: 3rem;
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
  width: max-content;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
 }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1rem 3rem;
  text-align: center;

}

.hitem a {
  color: white;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100vw, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.hmove { animation: tickerh linear 15s infinite; }
.hmove:hover { animation-play-state: paused; }
